.box{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    text-align: center;
    margin-left: 35%;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}